# Project exclude paths
/actuator-admin-server/target/
/course-center/target/
/payment-center/target/
/service-registry/target/
/user-center/target/
/api-gateway/target/

/*.log
/*.log.*

/actuator-admin-server/*.log
/actuator-admin-server/*.log.*

/course-center/*.log
/course-center/*.log.*

/payment-center/*.log
/payment-center/*.log.*

/user-center/*.log
/user-center/*.log.*

/api-gateway/*.log
/api-gateway/*.log.*

.idea/*

/course-center/src/main/resources/application.yaml
/payment-center/src/main/resources/application.yaml
/user-center/src/main/resources/application.yaml