# Project exclude paths
/actuator-admin-server/target/
/course-center/target/
/payment-center/target/
/service-registry/target/
/user-center/target/
/api-gateway/target/
/notification-center/target/

/*.log
/*.log.*

.idea/*